/* line 17, ../../../app/stylesheets/application.sass */
#nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.5em;
  line-height: 1.5;
  background-color: #396961; }
  /* line 25, ../../../app/stylesheets/application.sass */
  #nav a {
    margin-right: 0.4em;
    text-decoration: none;
    color: #c4e9e1; }
  /* line 30, ../../../app/stylesheets/application.sass */
  #nav a:last-child {
    margin-right: 0; }
  /* line 33, ../../../app/stylesheets/application.sass */
  #nav a#assignment-count {
    padding: 0.1em 0.5em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #396962;
    background-color: #99b6b2; }
  /* line 40, ../../../app/stylesheets/application.sass */
  #nav .right {
    position: absolute;
    right: 0.7em; }

/* line 44, ../../../app/stylesheets/application.sass */
#footer {
  margin-top: 3em;
  margin-bottom: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  background-color: #d4d4d4; }
  /* line 53, ../../../app/stylesheets/application.sass */
  #footer a {
    text-decoration: none; }

/* line 58, ../../../app/stylesheets/application.sass */
.fieldWithErrors {
  display: inline; }

/* line 62, ../../../app/stylesheets/application.sass */
#errorExplanation {
  width: 400px;
  border: 1px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 70, ../../../app/stylesheets/application.sass */
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  /* line 79, ../../../app/stylesheets/application.sass */
  #errorExplanation p {
    font-size: 1em;
    color: #333;
    margin-bottom: 0;
    padding: 0.3em; }
  /* line 85, ../../../app/stylesheets/application.sass */
  #errorExplanation ul {
    margin: 0.1em 1.2em; }
    /* line 88, ../../../app/stylesheets/application.sass */
    #errorExplanation ul li {
      margin-left: 2em;
      font-size: 12px;
      list-style: disc; }

/* line 94, ../../../app/stylesheets/application.sass */
.highlighted {
  background-color: #ffa; }
