/* line 6, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 11, ../../../app/stylesheets/partials/_base.sass */
body {
  background-color: #3e3e3e;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; }

/* line 16, ../../../app/stylesheets/partials/_base.sass */
body, html {
  height: 100%; }

/* line 18, ../../../app/stylesheets/partials/_base.sass */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* line 20, ../../../app/stylesheets/partials/_base.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* line 26, ../../../app/stylesheets/partials/_base.sass */
.large {
  font-size: 1.25em; }

/* line 28, ../../../app/stylesheets/partials/_base.sass */
.small {
  font-size: 0.8125em; }

/* line 3, ../../../app/stylesheets/partials/_links.sass */
a {
  text-decoration: none; }
  /* line 4, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  a:hover {
    text-decoration: underline; }
  /* line 5, ../../../app/stylesheets/partials/_links.sass */
  a img {
    border: none; }

/* line 1, ../../../app/stylesheets/partials/_button.sass */
.button {
  display: inline-block;
  padding: 4px 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: rgb(153, 153, 153) solid 1px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221))); }

/* line 13, ../../../app/stylesheets/partials/_button.sass */
.button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); }

/* line 16, ../../../app/stylesheets/partials/_button.sass */
.button, a.button {
  color: #333; }

/* line 19, ../../../app/stylesheets/partials/_button.sass */
a.button {
  text-decoration: none;
  margin-right: 1em; }

/* line 23, ../../../app/stylesheets/partials/_button.sass */
a.button:last-child {
  margin-right: 0; }

/* line 1, ../../../app/stylesheets/partials/_flash.sass */
.flash_wrapper {
  display: block;
  margin-bottom: 20px;
  width: 75%; }

/* line 5, ../../../app/stylesheets/partials/_flash.sass */
#flash_success, #flash_notice, #flash_failure, #flash_error {
  padding: 7px 10px;
  border-width: 1px;
  border-style: solid; }

/* line 10, ../../../app/stylesheets/partials/_flash.sass */
#flash_success, #flash_notice {
  background-color: #cfc;
  border-color: #6c6; }

/* line 13, ../../../app/stylesheets/partials/_flash.sass */
#flash_failure, #flash_error {
  background-color: #fcc;
  border-color: #c66; }

/* line 2, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up dd {
  margin-bottom: 15px; }
/* line 5, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up dt {
  margin-left: 1px;
  margin-bottom: 3px; }
/* line 9, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up input[type=text], form.dressed-up input[type=password], form.dressed-up textarea {
  width: 325px;
  padding: 0.4em;
  font-size: 1em;
  border: 1px solid #ccc; }
/* line 14, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up textarea {
  height: 90px; }
/* line 16, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up label {
  font-weight: bold; }
/* line 18, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up .counter {
  margin-bottom: 3px;
  color: #00ab2b;
  font-weight: bold; }

/* line 1, ../../../app/stylesheets/partials/_pre.sass */
pre {
  margin: 0 0.6em 1em 0;
  padding: 0.5em;
  color: #ffb;
  background-color: #333;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  white-space: pre-wrap;
  font-size: 18px; }

/* line 2, ../../../app/stylesheets/partials/_header.sass */
#header {
  color: #fff;
  background-color: #0079a5; }
  /* line 5, ../../../app/stylesheets/partials/_header.sass */
  #header a {
    color: #fff; }

/* line 7, ../../../app/stylesheets/partials/_header.sass */
#header .wrapper {
  position: relative; }

/* line 10, ../../../app/stylesheets/partials/_header.sass */
#brand {
  padding-left: 35px;
  font-size: 2.25em;
  color: #000; }
  /* line 16, ../../../app/stylesheets/partials/_header.sass */
  #brand a {
    color: #000; }
  /* line 18, ../../../app/stylesheets/partials/_header.sass */
  #brand span {
    position: relative;
    display: inline-block;
    background-color: #009ecd;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px; }

/* line 29, ../../../app/stylesheets/partials/_header.sass */
a#assignment-count {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  position: absolute;
  display: inline-block;
  top: -10px;
  right: -17px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: -3px;
  width: 24px;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  background-color: #c00;
  color: #fff;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555; }
  /* line 48, ../../../app/stylesheets/partials/_header.sass */
  a#assignment-count:hover {
    text-decoration: none; }

/* line 51, ../../../app/stylesheets/partials/_header.sass */
#user-nav {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 0.875em; }
  /* line 56, ../../../app/stylesheets/partials/_header.sass */
  #user-nav a {
    margin-right: 10px;
    text-decoration: underline; }

/* line 2, ../../../app/stylesheets/partials/_projects.sass */
#projects li {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  font-size: 1.25em;
  font-weight: bold; }
/* line 11, ../../../app/stylesheets/partials/_projects.sass */
#projects .assignment-count {
  margin-left: 5px;
  color: #666; }
/* line 15, ../../../app/stylesheets/partials/_projects.sass */
#projects .avatar {
  margin-bottom: -6px;
  margin-right: 10px; }
/* line 19, ../../../app/stylesheets/partials/_projects.sass */
#projects .circle {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  position: absolute;
  top: 23px;
  right: 18px;
  background-color: #00aa2a; }

/* line 1, ../../../app/stylesheets/partials/_tasks.sass */
#tasks {
  margin-bottom: 20px;
  width: 100%; }
  /* line 5, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks td {
    vertical-align: top;
    padding-bottom: 30px; }
    /* line 9, ../../../app/stylesheets/partials/_tasks.sass */
    #tasks td:first-child {
      width: 80px; }
  /* line 11, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .bubble {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px; }
    /* line 17, ../../../app/stylesheets/partials/_tasks.sass */
    #tasks .bubble strong, #tasks .bubble em {
      color: #00aa2a; }
    /* line 19, ../../../app/stylesheets/partials/_tasks.sass */
    #tasks .bubble strong {
      text-decoration: underline;
      font-weight: bold; }
    /* line 23, ../../../app/stylesheets/partials/_tasks.sass */
    #tasks .bubble em {
      font-style: italic; }
    /* line 26, ../../../app/stylesheets/partials/_tasks.sass */
    #tasks .bubble .asset {
      margin-bottom: 10px; }
      /* line 29, ../../../app/stylesheets/partials/_tasks.sass */
      #tasks .bubble .asset:last-child {
        margin-bottom: 0; }
  /* line 32, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .task-content {
    font-size: 1.125em; }
  /* line 34, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .task-actions {
    position: absolute;
    top: -18px;
    right: 30px;
    font-size: 0.875em;
    background-color: #fff;
    padding: 1px 6px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; }
  /* line 44, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .task-actions a {
    color: #999;
    margin-right: 3px; }
  /* line 48, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .meta {
    font-size: 0.875em; }
  /* line 51, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .meta, #tasks .meta a {
    color: #aaa; }
  /* line 53, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks .meta a {
    font-weight: bold; }
  /* line 57, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks tr.task .meta, #tasks tr#project-description .meta {
    padding-top: 5px;
    padding-left: 15px; }
  /* line 61, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks tr.task .unread, #tasks tr#project-description .unread {
    color: #00aa2a; }
  /* line 64, ../../../app/stylesheets/partials/_tasks.sass */
  #tasks #project-description .bubble {
    color: #fff;
    background-color: #009ecd;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 20px; }

/* line 72, ../../../app/stylesheets/partials/_tasks.sass */
#tag-cloud {
  line-height: 1.4;
  padding-bottom: 15px; }

/* line 77, ../../../app/stylesheets/partials/_tasks.sass */
#search-tasks {
  float: right; }
  /* line 79, ../../../app/stylesheets/partials/_tasks.sass */
  #search-tasks input {
    margin-top: 0; }

/* line 2, ../../../app/stylesheets/partials/_assets.sass */
.image-assets .asset {
  display: inline; }
  /* line 4, ../../../app/stylesheets/partials/_assets.sass */
  .image-assets .asset img {
    margin: 0.5em; }

/* line 6, ../../../app/stylesheets/partials/_assets.sass */
.image-assets + .file-assets {
  margin-top: 1em; }

/* line 9, ../../../app/stylesheets/partials/_assets.sass */
.file-assets .asset {
  margin-bottom: 0.5em; }

/* line 2, ../../../app/stylesheets/partials/_workmates.sass */
#workmates li {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px; }
/* line 8, ../../../app/stylesheets/partials/_workmates.sass */
#workmates .avatar {
  margin-bottom: -6px;
  margin-right: 10px; }
/* line 12, ../../../app/stylesheets/partials/_workmates.sass */
#workmates a {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -0.4em; }

/* line 18, ../../../app/stylesheets/partials/_workmates.sass */
.workmate-info {
  font-size: 1.25em;
  font-weight: bold; }

/* line 1, ../../../app/stylesheets/partials/_aside.sass */
#resource-states {
  width: 290px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #1c5379;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px; }

/* line 13, ../../../app/stylesheets/partials/_aside.sass */
#resource-states ul {
  margin-bottom: 15px; }
  /* line 16, ../../../app/stylesheets/partials/_aside.sass */
  #resource-states ul li {
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    background-color: #ddd;
    text-align: center; }
    /* line 25, ../../../app/stylesheets/partials/_aside.sass */
    #resource-states ul li a {
      color: #555; }
    /* line 27, ../../../app/stylesheets/partials/_aside.sass */
    #resource-states ul li:first-child {
      margin-bottom: 35px; }
  /* line 30, ../../../app/stylesheets/partials/_aside.sass */
  #resource-states ul .current {
    color: #333;
    background-color: #fff;
    font-weight: bold; }

/* line 36, ../../../app/stylesheets/partials/_aside.sass */
#tag-cloud {
  width: 265px;
  margin-top: 15px;
  margin-left: 10px; }
  /* line 41, ../../../app/stylesheets/partials/_aside.sass */
  #tag-cloud a {
    color: #fff;
    padding-right: 5px; }

/* line 7, ../../../app/stylesheets/partials/_main.sass */
#main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 20px;
  margin-bottom: 10px; }

/* line 13, ../../../app/stylesheets/partials/_main.sass */
#content {
  width: 600px;
  padding: 30px;
  border: #fff 5px solid;
  color: #333;
  background-color: #e4e4e4;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px; }
  /* line 21, ../../../app/stylesheets/partials/_main.sass */
  #content a {
    color: #009fcd; }
  /* line 23, ../../../app/stylesheets/partials/_main.sass */
  #content a.button {
    color: #333; }
  /* line 25, ../../../app/stylesheets/partials/_main.sass */
  #content p {
    margin-bottom: 20px; }
    /* line 28, ../../../app/stylesheets/partials/_main.sass */
    #content p:last-child {
      margin-bottom: 0; }

/* line 31, ../../../app/stylesheets/partials/_main.sass */
#content, #aside {
  float: left; }

/* line 33, ../../../app/stylesheets/partials/_main.sass */
#actions {
  margin-bottom: 45px; }

/* line 37, ../../../app/stylesheets/partials/_main.sass */
#welcome {
  color: #00ab2b;
  font-size: 1.5em;
  line-height: 1.1; }

/* line 1, ../../../app/stylesheets/partials/_footer.sass */
#footer {
  padding-bottom: 45px;
  color: #888;
  font-size: 0.875em; }
  /* line 5, ../../../app/stylesheets/partials/_footer.sass */
  #footer p {
    padding-left: 35px; }
  /* line 8, ../../../app/stylesheets/partials/_footer.sass */
  #footer a {
    color: #aaa; }
