/* line 6, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 11, ../../../app/stylesheets/partials/_base.sass */
body {
  background-color: #3e3e3e;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; }

/* line 16, ../../../app/stylesheets/partials/_base.sass */
body, html {
  height: 100%; }

/* line 18, ../../../app/stylesheets/partials/_base.sass */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* line 20, ../../../app/stylesheets/partials/_base.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* line 26, ../../../app/stylesheets/partials/_base.sass */
.large {
  font-size: 1.25em; }

/* line 3, ../../../app/stylesheets/partials/_links.sass */
a {
  text-decoration: none; }
  /* line 4, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  a:hover {
    text-decoration: underline; }
  /* line 5, ../../../app/stylesheets/partials/_links.sass */
  a img {
    border: none; }

/* line 1, ../../../app/stylesheets/partials/_button.sass */
.button {
  display: inline-block;
  padding: 4px 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: rgb(153, 153, 153) solid 1px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221))); }

/* line 13, ../../../app/stylesheets/partials/_button.sass */
.button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); }

/* line 16, ../../../app/stylesheets/partials/_button.sass */
.button, a.button {
  color: #333; }

/* line 19, ../../../app/stylesheets/partials/_button.sass */
a.button {
  text-decoration: none;
  margin-right: 1em; }

/* line 23, ../../../app/stylesheets/partials/_button.sass */
a.button:last-child {
  margin-right: 0; }

/* line 1, ../../../app/stylesheets/partials/_flash.sass */
.flash_wrapper {
  display: block;
  margin-bottom: 1.5em;
  width: 60%; }

/* line 6, ../../../app/stylesheets/partials/_flash.sass */
#flash_success, #flash_notice, #flash_failure, #flash_error {
  padding: 0.4em;
  border-width: 1px;
  border-style: solid; }

/* line 11, ../../../app/stylesheets/partials/_flash.sass */
#flash_success, #flash_notice {
  background-color: #cfc;
  border-color: #6c6; }

/* line 14, ../../../app/stylesheets/partials/_flash.sass */
#flash_failure, #flash_error {
  background-color: #fcc;
  border-color: #c66; }

/* line 2, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up dd {
  margin-bottom: 15px; }
/* line 5, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up dt {
  margin-left: 3px;
  margin-bottom: 3px; }
/* line 9, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up input[type=text], form.dressed-up input[type=password], form.dressed-up textarea {
  width: 325px;
  padding: 0.4em;
  font-size: 1em;
  border: 1px solid #ccc; }
/* line 14, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up textarea {
  height: 90px; }
/* line 16, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up label {
  font-weight: bold; }

/* line 1, ../../../app/stylesheets/partials/_pre.sass */
pre {
  margin: 0 0.6em 1em 0;
  padding: 0.5em;
  color: #ffb;
  background-color: #333;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  white-space: pre-wrap; }

/* line 1, ../../../app/stylesheets/partials/_header.sass */
#header {
  color: #fff;
  background-color: #0079a5; }
  /* line 4, ../../../app/stylesheets/partials/_header.sass */
  #header a {
    color: #fff; }

/* line 6, ../../../app/stylesheets/partials/_header.sass */
#header .wrapper {
  position: relative; }

/* line 9, ../../../app/stylesheets/partials/_header.sass */
#brand {
  padding-left: 35px;
  font-size: 2.25em;
  color: #000; }
  /* line 15, ../../../app/stylesheets/partials/_header.sass */
  #brand a {
    color: #000; }
  /* line 17, ../../../app/stylesheets/partials/_header.sass */
  #brand span {
    display: inline-block;
    background-color: #009ecd;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px; }

/* line 27, ../../../app/stylesheets/partials/_header.sass */
#user-nav {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 0.875em; }
  /* line 32, ../../../app/stylesheets/partials/_header.sass */
  #user-nav a {
    margin-right: 10px;
    text-decoration: underline; }

/* line 2, ../../../app/stylesheets/partials/_projects.sass */
#projects li {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  font-size: 1.25em;
  font-weight: bold; }
/* line 10, ../../../app/stylesheets/partials/_projects.sass */
#projects .counter {
  color: #fff;
  background-color: #a0d3eb;
  padding: 0 5px;
  margin-left: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-weight: normal; }
  /* line 19, ../../../app/stylesheets/partials/_projects.sass */
  #projects .counter:hover {
    text-decoration: none; }
/* line 21, ../../../app/stylesheets/partials/_projects.sass */
#projects .avatar {
  margin-bottom: -6px;
  margin-right: 10px; }

/* line 1, ../../../app/stylesheets/partials/_tasks.sass */
#tasks {
  margin-bottom: 20px; }

/* line 4, ../../../app/stylesheets/partials/_tasks.sass */
#tag-cloud {
  line-height: 1.4;
  padding-bottom: 15px; }

/* line 8, ../../../app/stylesheets/partials/_tasks.sass */
#project-settings {
  margin-top: 0px;
  padding-top: 20px;
  border-top: 5px solid #ccc; }

/* line 14, ../../../app/stylesheets/partials/_tasks.sass */
#search-tasks {
  float: right; }

/* line 2, ../../../app/stylesheets/partials/_workmates.sass */
ul.workmates tr {
  background-color: #fff;
  margin-bottom: 30px; }
/* line 5, ../../../app/stylesheets/partials/_workmates.sass */
ul.workmates td {
  border-bottom: 20px solid #e6e6e6;
  vertical-align: middle;
  padding: 15px;
  font-size: 1.25em;
  font-weight: bold; }
  /* line 12, ../../../app/stylesheets/partials/_workmates.sass */
  ul.workmates td:first-child {
    width: 50px; }
/* line 15, ../../../app/stylesheets/partials/_workmates.sass */
ul.workmates tfoot td {
  padding-top: 0; }
/* line 17, ../../../app/stylesheets/partials/_workmates.sass */
ul.workmates img {
  margin-left: 10px; }

/* line 1, ../../../app/stylesheets/partials/_aside.sass */
#resource-states {
  width: 290px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #1c5379;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px; }

/* line 13, ../../../app/stylesheets/partials/_aside.sass */
#resource-states ul {
  margin-bottom: 15px; }
  /* line 16, ../../../app/stylesheets/partials/_aside.sass */
  #resource-states ul li {
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    background-color: #ddd;
    text-align: center; }
    /* line 25, ../../../app/stylesheets/partials/_aside.sass */
    #resource-states ul li a {
      color: #555; }
    /* line 27, ../../../app/stylesheets/partials/_aside.sass */
    #resource-states ul li:first-child {
      margin-bottom: 35px; }
  /* line 30, ../../../app/stylesheets/partials/_aside.sass */
  #resource-states ul .current {
    color: #333;
    background-color: #fff;
    font-weight: bold; }

/* line 36, ../../../app/stylesheets/partials/_aside.sass */
#tag-cloud {
  width: 250px;
  margin-top: 15px;
  margin-left: 15px; }
  /* line 41, ../../../app/stylesheets/partials/_aside.sass */
  #tag-cloud a {
    color: #fff; }

/* line 6, ../../../app/stylesheets/partials/_main.sass */
#main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 20px;
  margin-bottom: 10px; }

/* line 12, ../../../app/stylesheets/partials/_main.sass */
#content {
  min-height: 200px;
  width: 600px;
  padding: 30px;
  border: #fff 5px solid;
  color: #333;
  background-color: #e6e6e6;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px; }
  /* line 21, ../../../app/stylesheets/partials/_main.sass */
  #content a {
    color: #009fcd; }
  /* line 23, ../../../app/stylesheets/partials/_main.sass */
  #content a.button {
    color: #333; }
  /* line 25, ../../../app/stylesheets/partials/_main.sass */
  #content p {
    margin-bottom: 20px; }
    /* line 28, ../../../app/stylesheets/partials/_main.sass */
    #content p:last-child {
      margin-bottom: 0; }

/* line 31, ../../../app/stylesheets/partials/_main.sass */
#content, #aside {
  float: left; }

/* line 33, ../../../app/stylesheets/partials/_main.sass */
.actions {
  margin-bottom: 30px; }

/* line 37, ../../../app/stylesheets/partials/_main.sass */
#welcome {
  color: #00ab2b;
  font-size: 1.5em;
  line-height: 1.1; }

/* line 1, ../../../app/stylesheets/partials/_footer.sass */
#footer {
  padding-bottom: 45px;
  color: #888;
  font-size: 0.875em; }
  /* line 5, ../../../app/stylesheets/partials/_footer.sass */
  #footer p {
    padding-left: 35px; }
  /* line 8, ../../../app/stylesheets/partials/_footer.sass */
  #footer a {
    color: #aaa; }
