/* line 6, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 11, ../../../app/stylesheets/partials/_base.sass */
body {
  background-color: #3e3e3e;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; }

/* line 16, ../../../app/stylesheets/partials/_base.sass */
body, html {
  height: 100%; }

/* line 18, ../../../app/stylesheets/partials/_base.sass */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* line 20, ../../../app/stylesheets/partials/_base.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* line 3, ../../../app/stylesheets/partials/_links.sass */
a {
  text-decoration: none; }
  /* line 4, ../../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  a:hover {
    text-decoration: underline; }
  /* line 5, ../../../app/stylesheets/partials/_links.sass */
  a img {
    border: none; }

/* line 1, ../../../app/stylesheets/partials/_button.sass */
.button {
  display: inline-block;
  padding: 4px 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: rgb(153, 153, 153) solid 1px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221))); }

/* line 13, ../../../app/stylesheets/partials/_button.sass */
.button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); }

/* line 16, ../../../app/stylesheets/partials/_button.sass */
.button, a.button {
  color: #333; }

/* line 19, ../../../app/stylesheets/partials/_button.sass */
a.button {
  text-decoration: none;
  margin-right: 1em; }

/* line 23, ../../../app/stylesheets/partials/_button.sass */
a.button:last-child {
  margin-right: 0; }

/* line 1, ../../../app/stylesheets/partials/_flash.sass */
.flash_wrapper {
  display: block;
  margin-bottom: 1.5em;
  width: 60%; }

/* line 6, ../../../app/stylesheets/partials/_flash.sass */
#flash_success, #flash_failure {
  padding: 0.4em;
  border-width: 1px;
  border-style: solid; }

/* line 11, ../../../app/stylesheets/partials/_flash.sass */
#flash_success {
  background-color: #cfc;
  border-color: #6c6; }

/* line 14, ../../../app/stylesheets/partials/_flash.sass */
#flash_failure {
  background-color: #fcc;
  border-color: #c66; }

/* line 1, ../../../app/stylesheets/partials/_form.sass */
form.dressed-up {
  margin-bottom: 2em; }
  /* line 3, ../../../app/stylesheets/partials/_form.sass */
  form.dressed-up dd {
    margin-left: 0; }
  /* line 5, ../../../app/stylesheets/partials/_form.sass */
  form.dressed-up dt {
    padding-left: 0.3em; }
  /* line 7, ../../../app/stylesheets/partials/_form.sass */
  form.dressed-up dl {
    margin-bottom: 1em; }
  /* line 9, ../../../app/stylesheets/partials/_form.sass */
  form.dressed-up input[type=text], form.dressed-up input[type=password] {
    font-size: 1em;
    padding: 0.4em;
    border: 1px solid #ccc; }
  /* line 13, ../../../app/stylesheets/partials/_form.sass */
  form.dressed-up label {
    font-weight: bold; }

/* line 1, ../../../app/stylesheets/partials/_preformatted.sass */
pre {
  margin: 0 0.6em 1em 0;
  padding: 0.5em;
  color: #ffb;
  background-color: #333;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  white-space: pre-wrap; }

/* line 1, ../../../app/stylesheets/partials/_navigation.sass */
#navigation {
  margin-left: 30px; }
  /* line 3, ../../../app/stylesheets/partials/_navigation.sass */
  #navigation li {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px; }
    /* line 10, ../../../app/stylesheets/partials/_navigation.sass */
    #navigation li.current {
      color: #ddd;
      background-color: #3e3e3e; }

/* line 3, ../../../app/stylesheets/partials/_header.sass */
#header {
  color: #fff;
  background-color: #0079a5; }
  /* line 6, ../../../app/stylesheets/partials/_header.sass */
  #header a {
    color: #fff; }

/* line 8, ../../../app/stylesheets/partials/_header.sass */
#brand {
  padding-left: 35px;
  font-size: 2.25em;
  color: #000; }
  /* line 14, ../../../app/stylesheets/partials/_header.sass */
  #brand a {
    color: #000; }
  /* line 16, ../../../app/stylesheets/partials/_header.sass */
  #brand span {
    display: inline-block;
    background-color: #009ecd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px; }

/* line 1, ../../../app/stylesheets/partials/_projects.sass */
#projects {
  list-style-type: none; }
  /* line 3, ../../../app/stylesheets/partials/_projects.sass */
  #projects li {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #eee;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    width: 9.5em;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em; }

/* line 1, ../../../app/stylesheets/partials/_aside.sass */
#aside {
  width: 290px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #1c5379;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px; }

/* line 12, ../../../app/stylesheets/partials/_aside.sass */
#task_navigation {
  margin-bottom: 15px; }
  /* line 15, ../../../app/stylesheets/partials/_aside.sass */
  #task_navigation li {
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 165px;
    background-color: #ddd;
    text-align: center; }
    /* line 24, ../../../app/stylesheets/partials/_aside.sass */
    #task_navigation li a {
      color: #777; }

/* line 4, ../../../app/stylesheets/partials/_page.sass */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 20px;
  margin-bottom: 10px; }

/* line 9, ../../../app/stylesheets/partials/_page.sass */
#content {
  padding: 30px;
  width: 600px;
  border: #fff 5px solid;
  color: #333;
  background-color: #e6e6e6; }
  /* line 15, ../../../app/stylesheets/partials/_page.sass */
  #content a {
    color: #009fcd; }
  /* line 17, ../../../app/stylesheets/partials/_page.sass */
  #content p {
    margin-bottom: 1em; }
    /* line 19, ../../../app/stylesheets/partials/_page.sass */
    #content p:last-child {
      margin-bottom: 0; }

/* line 21, ../../../app/stylesheets/partials/_page.sass */
#content, #aside {
  float: left; }

/* line 23, ../../../app/stylesheets/partials/_page.sass */
#welcome {
  color: #00ab2b;
  font-size: 1.5em;
  line-height: 1; }

/* line 1, ../../../app/stylesheets/partials/_footer.sass */
#footer {
  padding-bottom: 30px;
  color: #888;
  font-size: 0.875em; }
  /* line 5, ../../../app/stylesheets/partials/_footer.sass */
  #footer p {
    padding-left: 35px; }
  /* line 8, ../../../app/stylesheets/partials/_footer.sass */
  #footer a {
    color: #aaa; }
