- form_for([@project, @task, setup_assets(@comment)], :html => { :multipart => true }) do |f|
  = f.error_messages
  %ul
    %li
      = f.text_area :message, :rows => 5
    = render :partial => 'assets/form', :locals => { :form => f }
    %li
      = f.submit('Leave comment', :class => 'no-margin')