- form_for([@project, setup_assets(@task)], :html => { :multipart => true }) do |f|
  = f.error_messages
  %ul
    %li
      = f.text_area :message, :rows => 5
    = render :partial => 'assets/form', :locals => { :form => f }
    %li
      = f.submit((f.object.new_record? ? 'Create' : 'Update') +  ' task »', :class => 'no-margin button')
