form.insanely
  :margin-bottom 2em
  dd
    :margin-left 0
  dt
    :padding-left 0.3em
  dl
    margin-bottom: 1em
  input[type=text], input[type=password]
    :font-size 1em
    :padding 0.4em
    :border 1px solid #ccc