#header
  :color #fff
  :background-color #0079a5
  a
    :color #fff
#header .wrapper
  :position relative

#brand
  :padding
    :left 35px
  :font
    :size 2.25em
  :color #000
  a
    :color #000
  span
    :display inline-block
    :background-color #009ecd
    :padding 10px
    :margin
      :top 25px
      :bottom 25px
    +border_radius_top_left(10px)
    +border_radius_bottom_right(10px)

#user-nav
  :position absolute
  :right 0
  :bottom 5px
  :font-size 0.875em
  a
    :margin
      :right 10px
    :text-decoration underline