#tasks
  :margin
    :bottom 20px
  :width 100%
  td
    :vertical-align top
    :padding
      :bottom 30px
    &:first-child
      :width 80px
  .bubble
    :position relative
    :padding 20px
    :background-color #fff
    +border_radius_top_right(15px)
    +border_radius_bottom_left(15px)
    strong, em
      :color #00aa2a
    strong
      :text-decoration underline
      :font
        :weight bold
    em
      :font
        :style italic
    .asset
      :margin
        :bottom 10px
      &:last-child
        :margin
          :bottom 0
  .task-content
    :font-size 1.125em
  .task-actions
    :position absolute
    :top 4px
    :right 20px
    :font
      :size 0.875em
  .task-actions, .task-actions a
    :color #ccc
  .meta
    :font
      :size 0.875em
  .meta, .meta a
    :color #bbb
  tr.task, tr#project-description
    .meta
      :padding
        :top 5px
        :left 15px

#tag-cloud
  line-height: 1.4
  :padding
    :bottom 15px

#project-settings
  :margin
    :top 0px
  :padding
    :top 20px
  :border-top 1px solid #999
#search-tasks
  :float right
  :margin
    :top -5px