- title @project.title, true, project_tasks_path(@project)

- if @project.tasks.size > 0
  #aside
    = render :partial => 'tasks/search_form'
    = render :partial => 'hashtags/cloud', :locals => { :hashtags => @project.hashtags}

%table.tasks
  %tfoot
    %tr
      %td{:colspan => 2}
        = will_paginate @tasks
  = render :partial => 'tasks/task', :collection => @tasks, :locals => { :show_comments => true }