!background = #c4e9e2
!link_color = #596966
!header_color = #8b6353
!nav_background = #396961
!bubble_color = #c4e9e2
!bubble_background = #184761
!bubble_link_color = #ffb
!counter = #8ea9a5
!assignment_counter_color = #396962
!assignment_counter_background = #99b6b2

  
  

.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

  
  p
    margin: 0 0 1em 0
    clear: both
  
  p.header
    margin-bottom: 2em
    
  ol, ul
    margin-bottom: 1em
    
    li
      margin:
        left: 2em
        bottom: 0.5em
  
  
  
    
  #aside
    float: left
    width: 24%
    padding-right: 1.5em
      
    
  
  #aside + ol, #aside + p
    float: right
    width: 69%
  
  #aside + p
    clear: none
    
  table.tasks
    
    td
      vertical-align: top
      padding-bottom: 1em
    
    p
      margin-bottom: 0.5em
    
    .avatar
      margin:
        top: 0.3em
        right: 0.8em
                
    .bubble
      position: relative
      padding: 1em 0.8em 0.7em
      color = !bubble_color
      background-color = !bubble_background
      -moz-border-radius: 1em
      -webkit-border-radius: 1em
            
      a
        color = !bubble_link_color
      
      strong
        color: #fff
        font-weight: normal
        text-decoration: underline
        
      em
        text-decoration: underline
      
      .asset
        
        img.attached_thumb
          margin-bottom: 0.7em
      
        &:last-child
        
          img.attached_thumb
            margin-bottom: 0
          
    .avatar, .bubble
      float: left
    
    .meta-info
      clear: left
      color: #aaa
      
      a
        color: #aaa
    
    tr.task
      .meta-info
        padding:
          top: 0.5em
          left: 1em
    
    .comment
        
      td:last-child
        padding: 0.4em 0.8em 1em
      
      .asset
        
        img
          margin-bottom: 0.7em
        
  .image-assets
  
    .asset
      display: inline
    
      img
        margin: 0.5em

  .image-assets + .file-assets
    margin-top: 1em

  .file-assets

    .asset
      margin-bottom: 0.5em
  
  table.workmates, table.participations
    border-collapse: collapse
    margin-bottom: 1em
    
    td
      padding: 0.5em
    
      &:first-child
        padding-left: 0
    
    tfoot
      td
        padding-top: 0
    
    .button-to
      padding-bottom: 0
    
#nav
  position: absolute
  top: 0
  width: 100%
  height: 1.5em
  line-height: 1.5
  background-color = !nav_background
  
  a
    margin-right: 0.4em
    text-decoration: none
    color: #c4e9e1
  
  a:last-child
    margin-right: 0
  
  a#assignment-count
    padding: 0.1em 0.5em
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    color = !assignment_counter_color
    background-color = !assignment_counter_background
  
  .right
    position: absolute
    right: 0.7em

#footer
  margin:
    top: 3em
    bottom: 1em
  padding:
    top: 0.1em
    bottom: 0.3em
  background-color: #d4d4d4
  
  a
    text-decoration: none

#flash_success, #flash_failure
  padding: 0.4em
  margin-bottom: 1.5em

#flash_success
  background-color: #cfc
  border: solid 1px #6c6

#flash_failure
  background-color: #fcc
  border: solid 1px #c66

.fieldWithErrors
  display: inline


#errorExplanation
  width: 400px
  border: 1px solid #cf0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff

  p
    font-size: 1em
    color: #333
    margin-bottom: 0
    padding: 0.3em

  ul
    margin: 0.1em 1.2em

    li
      margin-left: 2em
      font-size: 12px
      list-style: disc


.highlighted
  background-color: #ffa