!!!
%html
  %head
    %title= yield(:title)
    = render :partial => 'layouts/head'
  %body.insanely
    #container
      %header#brand
        - header_with_title
        %hr
      %section#content
        - flash_message
        = yield
      %aside#sidebar
        - if @content_for_aside
          = yield(:aside)
      %footer#copyright
        - footer
    %nav#navigation
      - navigation
    